.navigation {
    display:flex; /*utiliza flexbox para organizar los elementos hijos (items de navegacion
 en una fila flexible */
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;
    margin: 0 3rem;
}
a {
    text-decoration: none; /* elimina el subrayado en los enlaces*/
    color:dodgerblue; /*color del texto de los enlaces a negro*/
}

body {
    background-color: lightblue; 
    font-family: Arial, sans-serif;
}
